.row.travels
  each travel in travels
    .col-md-6.col-lg-4.mb-4
      .card
        img(src=`/img/${travel.image}.jpg`, alt=`${travel.image}`, class="img-fluid")
        .card-body
          h2=travel.title
          p
            i.fas.fa-calendar-alt
            |  #{travel.departure_date} - #{travel.return_date}
          p
            i.fas.fa-dollar-sign
            |  #{travel.price}
          p #{travel.description.substr(0, 100)}
          a(href=`viajes/${travel.id}`, class="btn btn-success btn-block") Más Información
